.section-Viewall {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1239px;
  margin-top: 262px;
  padding-left: 121px;
  padding-right: 240px;
}
.section-Viewall__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-left: 119px;
}
.section-Viewall__menu-title {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;

  color: #000000;

  mix-blend-mode: normal;
}

.section-Viewall__Pictures {
  display: flex;
  justify-content: space-between;
  padding-top: 56px;
  padding-bottom: 59px;
  padding-left: 119px;
}
.section-Viewall__menu-link {
  display: flex;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 60px;

  color: #fb8f1d;

  mix-blend-mode: normal;
}
.section-Viewall__Pictures-svg {
  background: #c4c4c4;
  border-radius: 8px;
}
.arrow {
  border: solid #fb8f1d;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 5px;
}
.right {
  -webkit-transform: rotate(-45deg);
}

.section-Viewall__svgtop {
  position: absolute;
  left: 1048px;
}
.section-Viewall__svgright {
  position: absolute;
  margin-top: 329px;
}
.section-Viewall__svgbottom {
  position: absolute;
  margin-top: 512px;
  margin-left: 622px;
}
.section-Viewall__Pictures-block {
  position: relative;
}

.section-Viewall__Pictures-rectangle {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;

  width: 120px;
  background: #ffffff;
  border-radius: 0px 6px 0px 0px;
  padding-top: 11px;
}
.section-Viewall__Pictures-rectangle-name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 25px;

  color: #042521;

  mix-blend-mode: normal;
}
.section-Viewall__Pictures-rectangle-place {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;

  color: #80918e;

  mix-blend-mode: normal;
}
